{% extends 'base.html' %}
{% load static %}
{% block h1 %}{% if is_edit %} Редактирование заказа {% else %} Создание заказа {% endif %}{% endblock %}
{% block title %}{% if is_edit %} Редактирование заказа {% else %} Создание заказа {% endif %}{% endblock %}

{% block content %} 
{% if user.role.name == "admin" %}
<form method="post">
{% csrf_token %}
{{form}}
<button type="submit">{% if is_edit %} Изменить {% else %} Создать {% endif %}</button>
</form>
{% else %}
<h1 style="background-color: red;">У вас недостаточно прав</h1>
{% endif %}
{% endblock %}